th, td {
  padding: 15px;
}

body {
  background-color: #b4b9c2;
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.doctors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_button {
  position: absolute;
  top: 10px;
  right: 75px;
}


.login_button {
  position: absolute;
  top: 10px;
  right: 10px;

  /* background-color: rgba(51, 51, 51, 0.05); */
  /* border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; */
}






.credentials_main {

    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}


.vote_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credentials_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
