{% extends 'base.html' %}

{% block head %}
<title> Doctors Rating</title>
<img src="../doctor.png">
{% endblock %}

{% block body %}
<div class = "content">
    <h1> Doctors rating main page</h1>
    <div>
        <form action="/login" method="post" class = "login_button"> 
            <input type = "submit" value = "login" id = "btn_login" />
        </form>
    </div>
</div>
<div class = "doctors">
    <div>
        <table name="doctors_table">
            <tr>
                <th> Name </th>
                <th> Overall Rating </th>
                <th> Felling </th>
                <th> Professionalism </th>
                <th> Price </th>
                <th> Time Wait</th>
            </tr>

            {% for id, doctor in doctors.items() %}
            <tr>
                <td> {{doctor['name']}} </td>
                <td> {{doctor['specialization']}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>


{% endblock %}